

<p style="color: green"><%= notice %></p>

<%= render @producto %>

<div>
  <%= link_to "Editar el producto", edit_producto_path(@producto) %> |
  <%= link_to "Regresar a los productos", productos_path %>

  <%= button_to "Borrar este prodcuto", @producto, method: :delete %>
</div>
